.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color:  	#F0F0F0;
}

#movieSearchBar {
  outline: 5px black;
}

#movieComponent {
  text-align: center;
  padding-top: 10px;
}

#nominationsComponent {
  border: 2px solid black;
  width: 600px;
  margin-top: 370px;
  margin-left: 400px;
  align-self: auto;
}

#nominationsHeader {
  text-align: left;
  margin-left: 25px;
  margin-top: 30px;
}

#nominationsList {
  text-align: left;
  /* margin-top: 40px; */
}

#resultsComponent {
  /* text-align: left; */
  border: 2px solid black;
  width: 800px;
  position: absolute;
  right: 250px;
  margin-top: 20px;;
}

#resultsHeader {
  margin-left: 25px;
}